<ion-header>
    <ion-toolbar color='primary' >
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
  
  </ion-header>

<ion-content fullscreen>
  <ion-card>
        <img src="/assets/rabbiKarp.jpg" >
        <ion-card-content>
            <p>Rabbi Karp gave Shiurim in Daf HaYomi for close to 30 years beginning in 5727 (1967). The recordings of the Shiurim were given in the Lubavitcher shul in Montreal, Canada.The library of his Shiurim comprises well over 2,500 audio cassettes.
            </p>

            <p>This web site is dedicated to the memory of Harav HaChosid, Harav HaGaon Rav Avrohom Karp ZT"L who passed away on the 19th of Elul, 5758. Rabbi Karp was born on the 15th of Teves, 5680 (1920) in Frampol, Poland. At the age of ten, his thirst to learn Torah led him to enroll as a student in the renowned Yeshiva in Navardok. So great was his attachment to his studies that he chose to celebrate his Bar Mitzvah in the Yeshiva rather than leave for home.</p>
              
            <p>After a number of years of intense and assiduous study, there he continued his learning in the Yeshiva in Kletzk. On the outbreak of World War II he tried to flee to the Far East but was captured by the Russian Army and exiled to Siberia. In Siberia, despite the total lack of kosher food, he would not allow non-kosher food to pass his lips. Without proper nutrition his health began to fail, he became bed-ridden and, lacking any proper medication, the doctors gave up his case as hopeless. At the last minute a local Jew took over his care and obtained for him bread and other kosher food staples. Slowly he recovered.
            </p>
        
            <p>When the war finished, he eventually found his way to Paris, France. There he once again devoted himself to learning Torah day and night. During those years in Paris he was introduced to Chassidus.</p>
        
            <p>In 5711 (1950) he married Rivka Slavin (May she live a long and good life) and in 5712 moved to Montreal, Canada. There his qualities were quickly recognized and he was appointed Rosh Mesivta in the Mesivta Reishis Chochmah. In addition to his erudite teaching, he was also extraordinarily successful in imbuing his students with Chassidus and Yiras Shomayim. The fact that his students from all those years ago continued to visit their "Rebbi" up to the time of his passing is a witness to his enduring bond with his Talmidim and his unforgettable effect on them. After a time he began teaching in the Lubavitcher Yeshiva in Montreal, and continued to do so until his last years.</p>
        
            <p>With his marvelous ability to elucidate even the most difficult of concepts, with his penetrating and acute insights, and with remarkable breadth of knowledge these Shiurim became so well-known that they attracted tens of participants each night, many of them non Lubavitchers. Tapes of those Shiurim were disseminated in their thousands. To this day so many people continue to learn with the aid of "Reb Avrohom". </p>
        
            <p>He merited to complete the study of the entire Shas four times. He was known as a "Boki B'Shas". Rabbi Karp's entire life was Torah. Nights, too, were for learning Torah, not sleeping. Indeed, he would be awake the entire Thursday night studying.
            </p>
          
            <p>When in his last years he became ill and it became difficult for him to go to Shul he would not forego the Daf Yomi Shiur, giving it instead in his house. Even when it became almost impossible for him to speak he gave his Shiurim, exerting himself to exhaustion. His influence extended further than his learning; many people would come to "Reb Avrohom" to receive the benefit of his wise and kind advice.
            </p>
            
            <p>Of him our sages said: "Whoever occupies himself with [the study of] the Torah for its own sake... people derive from him the benefit of counsel and wisdom, insight and strength" (Avos 5:1).</p>
        
            <p>This web site is dedicated to his memory.</p>
        </ion-card-content>
      </ion-card>

</ion-content>
