<ion-header>
  <ion-toolbar color='primary' >
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{currentSeder}}
    </ion-title>
  </ion-toolbar>

</ion-header>



<ion-content padding id="tractates-content" >
  <ion-list lines='full' >
    <ion-item detail='false' block outline text-center [routerLink]="['/tractate', mesechta ]"  *ngFor="let mesechta of mesechtos[currentSeder]">
      <ion-label><strong>{{ mesechta }}</strong></ion-label>
    </ion-item>
  </ion-list>
</ion-content>