<ion-menu content-id="tractate-content"  side="end" menuId="tractate-page">
  <ion-header>
      <ion-toolbar color='primary' >
      </ion-toolbar>
  </ion-header>
<ion-content> 
  <ion-list>
    <ion-item>
        <ion-icon name="information-circle" color="royal" slot="start"></ion-icon>
        <ion-label>1111About</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon color="royal"  name="call" slot="start"></ion-icon>
        <ion-label>1111Phone Numbers</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon color="royal" name="mail" slot="start"></ion-icon>
        <ion-label>Email</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color='primary' >
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{tractate}}
    </ion-title>
    <ion-buttons slot='end'>
      <ion-menu-button menu='tractate-page' ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>




<ion-content id="tractate-content" padding>
  <ion-list  >
    <ion-item>
      <ion-select [(ngModel)]="currentPage" (ionChange)="handleSelectDafChange(audioPlayer)" interface='popover'>
        <ion-select-option slot='end' text-center [value]="i | pageOptionValue" *ngFor="let page of tractatePages; let i = index;" ><strong>דף {{page}} </strong></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
      <audio id="audio-player" #audioPlayer controls>
          <source [src]="this.audioURL" type='audio/mp3' >
            <p>Your browser doesn't support HTML5 audio. Here is a <a [href]="this.audioURL">link to the audio</a> instead.</p>
      </audio>

</ion-content>
