    #audio-player {
        display: block;
        margin: 3em auto;
    }



    ion-select-option,ion-title, ion-select {
        direction: rtl;
    }

    ion-select {
        width: 10em;
        margin: 1em auto;
        background-color: whitesmoke;
        border-radius: 5%;
        font-size: 1.5em;
    }



    .action-sheet-button-inner {
        direction: rtl;
        text-align: right;
    }

    
    $app-direction: multi // Both RTL and LTR
