
    
    // ion-label {
    //     position: absolute;
    //     right: 0%;
    //     height: 100%;
    // }
    // .select-icon-inner{
    //     left: 1em !important;

    // }
    // .select-icon {
    //     position: static !important ;
    // }
    // #audio-wrapper {
    //     text-align: center;
    // }
    * {
       font-size: 112%;
    } 

    #audio-player {
        display: block;
        margin: 3em auto;
    }

    ion-select-option,ion-title, ion-select {
        direction: rtl;
    }

    ion-select {
        width: 10em;
        margin: 1em auto;
        background-color: whitesmoke;
        border-radius: 5%;
    }

    #daf-select {
        direction: rtl;
        width: 10em;
        margin: 1em auto;
        display: block;
    }

    .action-sheet-button-inner {
        direction: rtl;
        text-align: right;
    }

    
    $app-direction: multi // Both RTL and LTR
