    ion-select-option,ion-title, ion-select {
        direction: rtl;
    }

    ion-select {
        width: 10em;
        margin: 1em auto;
        background-color: whitesmoke;
        border-radius: 5%;
        font-size: 1.5em;
    }

    #playback-speed-button {
        position: absolute;
        left: 100%;
        top: 31%;
        display: inline-block;
    }
    
    .action-sheet-button-inner {
        direction: rtl;
        text-align: right;
    }

    ion-loading {
     --height: 500px;
    }

    $app-direction: multi; // Both RTL and LTR

    // ion-icon {
    //     font-size: 2.5rem;
    // }

     
    #media-controls {
        ion-col {
            text-align: center;
            ion-button {
                ion-icon {
                    font-size: 2.5rem;
                }
            }
        }

      }
    
    
    