<ion-header>
  <ion-toolbar color='primary' >
    <ion-title>
      Kol Avrohom
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <!-- <div id='custom-segement'>
      <div id='toolbar-border'></div>
      <div class="button-container">
        <ion-button #dafYomi [style.border-bottom-color]=" isDafYomiCurrentTab ? 'blue' : 'transparent'"  (click)='handleTabClick(dafYomi)' color='primary' expand='full'  fill='clear' id="daf-yomi">
        DAF YOMI
      </ion-button>
      <div id="button-divider"></div>
      <ion-button #selectDaf [style.border-bottom-color]="!isDafYomiCurrentTab ? 'blue' : 'transparent'" (click)='handleTabClick(selectDaf)' color='primary' expand='full' fill='clear'  id="select-daf" >
        SELECT A DAF
      </ion-button>

    </div>
</div> -->

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button id="dafYomi" value="dafYomi">
      <ion-label>DAF YOMI</ion-label>
    </ion-segment-button>
    <ion-segment-button value="selectDaf">
      <ion-label>SELECT A DAF</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>

<!--
    <ion-list *ngIf="!isDafYomiCurrentTab">
         <ion-item padding-right padding-left text-center  block outline (click)="handleSederClick(seder)" *ngFor="let seder of sedarim"  >
              <ion-label><strong>{{ seder }}</strong></ion-label>
        </ion-item>  
    </ion-list>
    <ion-list *ngIf="isDafYomiCurrentTab">
      <div class="daf-yomi-button-container" >
        <ion-button block outline color='secondary' (click)="handleDafYomiButtonClick(todaysTractate)" name='today'><strong>Today's Daf - {{todaysTractate.tractateName}} {{todaysTractate.pageNumber | gematria}} </strong></ion-button>
        <ion-button block outline color='secondary' (click)="handleDafYomiButtonClick(tomorrowsTractate)"  name='tomorrow'><strong>Tomorrow's Daf - {{tomorrowsTractate.tractateName}} {{tomorrowsTractate.pageNumber | gematria }} </strong></ion-button>
        <ion-button block outline color='secondary' (click)="handleDafYomiButtonClick(yesterdaysTractate)"  name='yesterday'><strong>Yeseterday's Daf - {{yesterdaysTractate.tractateName}} {{yesterdaysTractate.pageNumber | gematria }}</strong></ion-button> 
        </div>
    </ion-list> -->


  <!-- </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-buttons id="footer-buttons"  >

        <ion-button icon-end color="royal">
          About
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>

        <ion-button icon-end color="royal">
             Phone Numbers
            <ion-icon name="call"></ion-icon>
        </ion-button>


        <ion-button icon-end color="royal">
          Email
          <ion-icon name="mail"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer> -->
