.daf-yomi-button-container > ion-button {
    width: 95%;
    margin: 0.9em auto;
}

.ios ion-segment {
    padding: 0.4em;
}

.md ion-segment-button {
    background-color: whitesmoke;
    width: 50%;
    max-width: none;
}

 .md #dafYomi {
    border-right: 0.1em solid rgba(0, 0, 0, 0.3);
 }

 ion-list {
     padding-left: 1em;
     padding-right: 1em;
 }
