<ion-menu content-id="content"  side="start" menuId="first">
    <ion-header>
        <ion-toolbar color='primary' >
        </ion-toolbar>
    </ion-header>
  <ion-content> 
    <ion-list>
      <ion-item>
          <ion-icon name="information-circle" color="royal" slot="start"></ion-icon>
          <ion-label>About</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon color="royal"  name="call" slot="start"></ion-icon>
          <ion-label>Phone Numbers</ion-label>
      </ion-item>
      <ion-item>
          <ion-icon color="royal" name="mail" slot="start"></ion-icon>
          <ion-label>Email</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
    <ion-toolbar color='primary' >
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Kol Avrohom
      </ion-title>
    </ion-toolbar>
  
  </ion-header>


<ion-content id="content" >
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="handleSegementChange($event)">
    <ion-segment-button id="dafYomi" value="dafYomi">
      <ion-label> <strong>DAF YOMI</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button value="selectDaf">
      <ion-label><strong> SELECT A DAF </strong></ion-label>
    </ion-segment-button>
  </ion-segment>


    <ion-list lines='full' *ngIf="segmentValue === 'selectDaf'">
         <ion-item [routerLink]="['/tractates', seder]" text-center padding-right padding-left ion-item text-center  block outline   *ngFor="let seder of sedarim"  >
              <ion-label><strong>{{ seder }}</strong></ion-label>
        </ion-item>  
    </ion-list>
 
    <ion-list *ngIf="segmentValue === 'dafYomi'">
      <div class="daf-yomi-button-container" >
        <ion-button expand='block' fill='outline' color='success' name='today' [routerLink]="['/tractate', todaysTractate.tractateName, todaysTractate.pageNumber]" ><strong>Today's Daf - {{todaysTractate.tractateName}} {{todaysTractate.pageNumber | gematria}} </strong></ion-button>
        
        <ion-button expand='block' fill='outline' color='success' name='tomorrow' [routerLink]="['/tractate', tomorrowsTractate.tractateName, tomorrowsTractate.pageNumber ]" ><strong>Tomorrow's Daf - {{tomorrowsTractate.tractateName}} {{tomorrowsTractate.pageNumber | gematria }} </strong></ion-button>

        <ion-button expand='block' fill='outline' color='success'  name='yesterday' [routerLink]="['/tractate', yesterdaysTractate.tractateName, yesterdaysTractate.pageNumber]" ><strong>Yeseterday's Daf - {{yesterdaysTractate.tractateName}} {{yesterdaysTractate.pageNumber | gematria }}</strong></ion-button> 
        </div>
    </ion-list>
  </ion-content>
